.message{ 
    background-color: #719aa7;
    border-radius: 5px;
    width: 70%;
    text-align: left;
    min-height: 40px;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messageauthor {
    color: #606267;
    text-decoration: underline;
}

.messagetext{   
    color: #fff;    
}

.messagebox {
    display: flex;
    justify-content: space-between;
}