.wrapper {
  height: 50px;
  color: #fff;
  background-color: #798b9b;
  padding: 20px 10px;
  border: 3px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  height: 100%;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 24px;
  width: 50%;
}

.headerlink {
  color: #fff;
  text-decoration: none;
}

.btn {
  margin-right: 20px;
  padding: 10px 20px;
  background-color: #798b9b;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
}